
<%= simple_form_for @raffle do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :kind %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :probable_raffle_date %>
    <%= f.input :start_date_sale %>
    <%= f.input :end_date_sale %>
    <%= f.input :date_raffle %>
    <%= f.input :ticket_value %>
  </div>

  <div id='awards'>
    <%= f.simple_fields_for :awards do |award| %>
      <%= render 'award_fields', :f => award %>
    <% end %>
  <div class='links'>
    <%= link_to_add_association 'Add award', f, :awards, class: 'btn btn-primary btn-lg mb-4' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, f.object.new_record? ? 'Create Raffle' : 'Update Raffle', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
