<% content_for :title do %>
  Details of Raffle
<% end %>

<div class="page-header">
  <h1>Details of Raffle</h1>
  <div>
   <% if @raffle.user == current_user && @raffle.draw_allowed? %>
      <button class="btn btn-primary raffle-action" data-url="<%= raffle_api_v1_raffle_path(@raffle) %>">
        Raffle
      </button>
    <% end %> 
    <%= link_to edit_raffle_path(@raffle), class: 'btn btn-success' do %>
      <%= icon 'fas', 'edit' %>
      Edit
    <% end %>
    <%= link_to raffles_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Back
    <% end %>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Kind:</dt>
  <dd><%= @raffle.kind %></dd>

  <dt>Title:</dt>
  <dd><%= @raffle.title %></dd>

  <dt>Description:</dt>
  <dd><%= @raffle.description %></dd>

  <dt>Probable raffle date:</dt>
  <dd><%= @raffle.probable_raffle_date.to_s(:short) %></dd>

  <dt>Start date sale:</dt>
  <dd><%= @raffle.start_date_sale.to_s(:short) %></dd>

  <dt>End date sale:</dt>
  <dd><%= @raffle.end_date_sale.to_s(:short) %></dd>

  <% if !@raffle.date_raffle.nil? %>
    <dt>Date raffle:</dt>
    <dd><%= @raffle.date_raffle.to_s(:short) %></dd>
  <% end %>

  <dt id="title-date-raffle" class="d-none">Date raffle:</dt>
  <dd id="value-date-raffle" class="d-none"></dd>

  <dt>Ticket value:</dt>
  <dd><%= @raffle.ticket_value %></dd>

  <dt>Awards:</dt>
  <dd>
    <div class="table-responsive mt-2">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr id="head-awards">
            <th>Description</th>
            <th>Placing</th>
            <% if !@raffle.date_raffle.nil? %>
              <th>Winner</th>
              <th>Winning ticket</th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @raffle.awards.each do |award| %>
            <tr id="body-awards-<%= award.id %>">
              <td><%= award.description %></td>
              <td><%= award.placing %></td>
              <% if !@raffle.date_raffle.nil? %>
                <td><%= award.ticket.user %></td>
                <td><%= award.ticket %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </dd>

  <dt>Tickets</dt>
  <dd>
    <div class="table-responsive mt-2">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Number</th>
            <th>Status</th>
            <% if @raffle.started_sale? && !@raffle.closed_sale? %>
              <th class="head-action-awards">Action</th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @tickets.each_with_index do |ticket, index| %>
            <tr>
              <td><%= ticket.number %></td>
              <% if ticket.user_id? %>
                <td id="ticketstatus-<%= ticket.id %>">Sold</td>
              <% else %>
                <td id="ticketstatus-<%= ticket.id %>">Unsold</td>
              <% end %>
              <% if @raffle.started_sale? && !@raffle.closed_sale? %>
                <td class="body-action-awards">
                  <button <% if ticket.user_id? %> disabled  <% end %> 
                      class="btn btn-primary open-modal" 
                      data-ticket="<%= ticket.id %>" 
                      data-raffle="<%= @raffle.id %>">
                    Buy
                  </button>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= will_paginate @tickets, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </dd>  
</dl>
<div id="modal-placeholder"></div>