<% content_for :title do %>
  Details of Raffle
<% end %>

<div class="page-header">
  <h1>Details of Raffle</h1>
  <div>
    <%= link_to edit_raffle_path(@raffle), class: 'btn btn-success' do %>
      <%= icon 'fas', 'edit' %>
      Editar
    <% end %>
    <%= link_to raffles_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Voltar
    <% end %>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Kind:</dt>
  <dd><%= @raffle.kind %></dd>

  <dt>Title:</dt>
  <dd><%= @raffle.title %></dd>

  <dt>Description:</dt>
  <dd><%= @raffle.description %></dd>

  <dt>Probable raffle date:</dt>
  <dd><%= @raffle.probable_raffle_date %></dd>

  <dt>Start date sale:</dt>
  <dd><%= @raffle.start_date_sale %></dd>

  <dt>End date sale:</dt>
  <dd><%= @raffle.end_date_sale %></dd>

  <dt>Date raffle:</dt>
  <dd><%= @raffle.date_raffle %></dd>

  <dt>Ticket value:</dt>
  <dd><%= @raffle.ticket_value %></dd>

  <dt>Awards:</dt>
  <dd>
    <div class="table-responsive mt-2">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Description</th>
            <th>Placing</th>
          </tr>
        </thead>

        <tbody>
          <% @raffle.awards.each do |award| %>
            <tr>
              <td><%= award.description %></td>
              <td><%= award.placing %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </dd>

  <dt>Tickets</dt>
  <dd>
    <div class="table-responsive mt-2">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Number</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% @tickets.each_with_index do |ticket, index| %>
            <tr>
              <td><%= ticket.number %></td>
              <% if ticket.user_id? %>
                <td>Sold</td>
              <% else %>
                <td>Unsold</td>
              <% end %>
              <td>
                <button <% if ticket.user_id? %> disabled  <% end %> class="btn btn-primary open-modal" id="ticket-<%= ticket.id %> raffle-<%= @raffle.id %>">
                  Buy
                </button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= will_paginate @tickets, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </dd>  
</dl>
<div id="modal-placeholder"></div>