<% content_for :title do %>
  Home
<% end %>

<% if @your_raffles.length > 0 %>
  <h3>Your Raffles</h3>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Raffle</th>
          <th>Probable raffle date</th>
          <th>Raffled</th>
          <td></td>
        </tr>
      </thead>

      <tbody>
        <% @your_raffles.each do |raffle| %>
          <tr>
            <td><%= raffle %></td>
            <td><%= raffle.probable_raffle_date.to_s(:short) %></td>
            <% if raffle.date_raffle.nil? %>
                <td>No</td>
            <% else %>
                <td>Yes</td>
            <% end %>
            <td>
              <%= link_to raffle, class: 'btn btn-info btn-sm' do %>
                <%= icon 'fas', 'eye', class: 'fa-fw' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% if @raffled_tickets.length > 0 %>
  <h3>Raffled</h3>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Raffle</th>
          <th>Number</th>
          <th>Probable raffle date</th>
          <th>Status</th>
          <th>Award won</th>
        </tr>
      </thead>

      <tbody>
        <% @raffled_tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.raffle %></td>
            <td><%= ticket.number %></td>
            <td><%= ticket.raffle.probable_raffle_date.to_s(:short) %></td>
            <% if !ticket.award.nil? %>
                <td>Winner</td>
                <td><%= ticket.award %></td>
            <% else %>
                <td>It wasn't this time</td>
                <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% if @raffled_not_tickets.length > 0 %>
  <h3 class="mt-4">Not raffled</h3>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Raffle</th>
          <th>Number</th>
          <th>Probable raffle date</th>
          <th>Days left until the raffle</th>
        </tr>
      </thead>

      <tbody>
        <% @raffled_not_tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.raffle %></td>
            <td><%= ticket.number %></td>
            <td><%= ticket.raffle.probable_raffle_date.to_s(:short) %></td>
            <td><%= distance_of_time_in_words_to_now(ticket.raffle.probable_raffle_date)  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<h5 class="mt-4">Infos</h5>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Total spent</th>
        <th>Total tickets purchased</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @total_ticket_value.round(2) %></td>
        <td><%= @purchased_tickets %></td>
      </tr>
    </tbody>
  </table>
</div>